Repository CheneyKwok/react-admin-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

test: test lintstaged
  src/App.tsx
Due: prettier --write, stylelint --fix

chore: 更新 lintstaged 配置和 scripts
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  src/App.tsx
Due: prettier --write, stylelint --fix

build: 移除 antd
  package.json
  src/main.tsx
Due: prettier --write, stylelint --fix

chore: svg 支持
  README.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/icons/phone.svg
  src/components/SvgIcon.tsx
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write, stylelint --fix

feat: svg 通用组件封装
  src/App.tsx
  src/components/SvgIcon.tsx
Due: prettier --write, stylelint --fix

feat: scss 配置
  src/main.tsx
  src/styles/index.scss
  src/styles/reset.scss
  src/styles/variable.scss
  vite.config.ts
Due: prettier --write, stylelint --fix

refactor: svg 组件
  src/App.tsx
  src/components/SvgIcon.tsx
Due: prettier --write, stylelint --fix

feat: axios 封装
  README.md
  mock/use.ts
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/user/index.ts
  src/api/user/type.ts
  src/utils/request.ts
  vite.config.ts
Due: prettier --write, stylelint --fix

docs: update README
  README.md
Due: none

build: 引入 router
  package.json
  pnpm-lock.yaml
Due: none

build: 依赖更新
  .eslintrc.cjs
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

feat: 布局
  src/App.tsx
  src/main.tsx
  src/router/index.tsx
  src/views/404/index.tsx
  src/views/home/index.tsx
  src/views/login/index.tsx
Due: prettier --write, stylelint --fix

build: 更新 eslint、tsconfig 配置
  .eslintrc.cjs
  .eslintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: prettier --write

build: 更新 eslint、tsconfig 配置
  .eslintrc.json
  tsconfig.json
Due: none

feat: 静态路由
  mock/route.ts
  mock/use.ts
  src/App.tsx
  src/api/index.ts
  src/api/user/index.ts
  src/api/user/type.ts
  src/components/SvgIcon.tsx
  src/components/hooks/TabContext/index.tsx
  src/components/layout/Content/Tab/index.tsx
  src/components/layout/Content/index.tsx
  src/components/layout/Header/index.tsx
  src/components/layout/Sider/Nav/index.tsx
  src/components/layout/Sider/index.tsx
  src/components/layout/index.tsx
  src/components/provider/TabContextProvider/index.tsx
  src/pages/exception/404/index.tsx
  src/pages/home/index.tsx
  src/pages/login/index.tsx
  src/pages/menu/index.tsx
  src/pages/menu/submenu/index.tsx
  src/router/index.tsx
  src/types/index.ts
  src/utils/public/index.ts
  src/utils/request.ts
  src/views/404/index.tsx
  src/views/home/index.tsx
  src/views/login/index.tsx
Due: prettier --write, stylelint --fix

build: 更新依赖配置
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: 暂时关闭提交前 eslint
  .husky/pre-commit
Due: none

feat: 路由 mock
  mock/route.ts
  mock/types/index.ts
  src/App.tsx
  src/api/auth/index.ts
  src/api/index.ts
  src/api/user/index.ts
  src/components/layout/Content/Tab/index.tsx
  src/components/provider/TabContextProvider/index.tsx
  src/main.tsx
  src/router/AuthRouter/index.tsx
  src/router/Suspense/index.tsx
  src/router/index.tsx
  src/types/index.ts
  src/utils/public/index.ts
  src/utils/request.ts
Due: prettier --write, stylelint --fix

build: 更新依赖
  pnpm-lock.yaml
Due: none

feat: 登录页
  mock/route.ts
  src/App.tsx
  src/api/auth/index.ts
  src/assets/images/login_bg.svg
  src/assets/images/login_left.png
  src/assets/images/logo.png
  src/components/layout/Content/Tab/index.tsx
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/login/index.scss
  src/pages/login/index.tsx
  src/router/AuthRouter/index.tsx
  src/types/index.ts
  src/utils/public/index.ts
Due: prettier --write, stylelint --fix

build: prettier 配置更改
   .prettierignore
  .eslintrc.json
  .prettierrc
Due: none

feat: 登录页表单
  mock/types/index.ts
  src/pages/login/LoginFom/index.tsx
  src/pages/login/index.scss
  src/pages/login/index.tsx
  src/styles/index.scss
  src/styles/reset.scss
  src/styles/variable.scss
Due: prettier --write, stylelint --fix

feat: 登录功能
  .eslintrc.json
  mock/types/index.ts
  mock/use.ts
  package.json
  pnpm-lock.yaml
  src/api/user/index.ts
  src/api/user/type.ts
  src/pages/login/LoginForm/index.tsx
  src/pages/login/index.tsx
  src/store/user.ts
  src/types/index.ts
  src/utils/request.ts
Due: prettier --write, stylelint --fix

build: eslint 配置更改
  .eslintrc.json
Due: none

feat: axios 二次封装优化
  src/api/user/index.ts
  src/pages/login/LoginForm/index.tsx
  src/pages/login/index.scss
  src/types/index.ts
  src/utils/request.ts
Due: prettier --write, stylelint --fix

feat: 动态路由
  mock/route.ts
  mock/types/index.ts
  src/App.tsx
  src/api/auth/index.ts
  src/components/layout/Content/Tab/index.tsx
  src/components/layout/Sider/Nav/index.tsx
  src/pages/login/LoginForm/index.tsx
  src/pages/login/index.scss
  src/router/AuthRouter/index.tsx
  src/router/index.tsx
  src/store/user.ts
  src/types/api/index.ts
  src/utils/public/index.ts
Due: prettier --write, stylelint --fix

feat: 权限路由
  .eslintrc.json
  mock/route.ts
  src/App.tsx
  src/components/layout/Content/Tab/index.tsx
  src/components/layout/Content/index.tsx
  src/components/layout/Sider/Nav/index.tsx
  src/components/provider/TabContextProvider/index.tsx
  src/pages/home/index.tsx
  src/pages/login/LoginForm/index.tsx
  src/router/AuthRouter/index.tsx
  src/router/index.tsx
  src/store/user.ts
  src/types/api/index.ts
  src/types/index.ts
  src/utils/public/index.ts
  src/utils/request.ts
Due: prettier --write, stylelint --fix

feat: 引入 immer
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/pages/login/LoginForm/index.tsx
  src/router/AuthRouter/index.tsx
  src/router/index.tsx
  src/store/user.ts
Due: prettier --write, stylelint --fix

build: 更新 eslint 配置
  .eslintrc.json
Due: none

feat: 引入 js-cookie
  package.json
  pnpm-lock.yaml
Due: none

fix: 动态路由刷新丢失问题
  src/App.tsx
  src/api/auth/index.ts
  src/api/user/index.ts
  src/components/exception/Exception403.tsx
  src/components/exception/Exception404.tsx
  src/components/exception/Exception500.tsx
  src/pages/exception/404/index.tsx
  src/pages/login/LoginForm/index.tsx
  src/router/AuthRouter/index.tsx
  src/router/index.tsx
  src/store/user.ts
  src/utils/axios/request.ts
  src/utils/public/index.ts
  src/utils/token/index.ts
Due: prettier --write, stylelint --fix

refactor: ts 类型文件结构调整
  mock/route.ts
  src/api/auth/index.ts
  src/api/auth/type.ts
  src/api/user/index.ts
  src/api/user/type.ts
  src/components/exception/Exception403.tsx
  src/components/exception/Exception404.tsx
  src/components/exception/Exception500.tsx
  src/components/hooks/TabContext/index.tsx
  src/components/hooks/TabContext/type.ts
  src/components/layout/Content/Tab/index.tsx
  src/components/layout/Sider/Nav/index.tsx
  src/components/provider/TabContextProvider/index.tsx
  src/pages/login/LoginForm/index.tsx
  src/router/AuthRouter/index.tsx
  src/router/index.tsx
  src/store/user/index.ts
  src/store/user/type.ts
  src/typings/global.ts
  src/utils/axios/request.ts
  src/utils/public/index.ts
  src/utils/public/type.ts
  src/utils/token/index.ts
Due: prettier --write, stylelint --fix

feat: 使用 vite 的 glob 动态加载路由组件
  mock/route.ts
  src/router/AuthRouter/index.tsx
  src/utils/modules/index.ts
  src/utils/public/index.ts
Due: prettier --write, stylelint --fix

build: 引入 a-hooks
  mock/use.ts
  package.json
  pnpm-lock.yaml
  src/pages/login/LoginForm/index.tsx
  src/router/AuthRouter/index.tsx
Due: prettier --write, stylelint --fix

refactor: ts 类型文件重构
  mock/route.ts
  src/api/auth/index.ts
  src/api/auth/type.ts
  src/api/user/index.ts
  src/api/user/type.ts
  src/components/hooks/TabContext/type.ts
  src/components/hooks/useTabContext.tsx
  src/components/layout/Content/Tab/index.tsx
  src/components/layout/Sider/Nav/index.tsx
  src/components/provider/TabContextProvider/index.tsx
  src/router/AuthRouter/index.tsx
  src/router/index.tsx
  src/store/user.ts
  src/store/user/type.ts
  src/types/api.d.ts
  src/types/global.d.ts
  src/typings/global.ts
  src/utils/axios/request.ts
  src/utils/public/index.ts
  src/utils/public/type.ts
Due: prettier --write, stylelint --fix

build: 更新依赖包
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,vue,jsx,tsx}
  stylelint --fix: any of: *.{html,vue,jsx,tsx,css,scss,sass,less}
